* {
    box-sizing: border-box;
}
:root {
    --primary-color: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* common */

.section__heading {
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section__desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
}
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    display: inline-block;
    border-radius: 1.5px solid #143c3c;
    color: #fff;
    padding: 0 15px;
    min-width: 173px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height);
    border-radius: 40px;
    background: #143c3c;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
/* header */
.header {
    padding-top: 28px;
    min-height: 100vh;
    font-family: "Public Sans", sans-serif;
}

.header__top {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar__item--active,
.navbar__link:hover {
    color: var(--primary-color);
    text-shadow: 0.5px 0 0 currentColor;
}
.navbar__link {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.action {
    margin-left: 88px;
}

.line {
    margin-top: 13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    position: relative;
}

.line__center {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}

/* hero */
.hero {
    padding: 74px 0 87px;
    position: relative;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__deco--item {
    position: absolute;
    z-index: 2;
}
.hero__deco--item:nth-child(1) {
    top: 37px;
    left: 210px;
}
.hero__deco--item:nth-child(2) {
    rotate: 180deg;
    right: 72px;
    bottom: 39px;
}
.hero__deco--item:nth-child(3) {
    top: 35px;
    left: 254px;
}
.hero__deco--item:nth-child(4) {
    right: 33px;
    bottom: 51px;
}

.hero__content {
    width: 395px;
}
.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    max-width: 368px;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    column-gap: 36px;
}
.watch-video {
    display: flex;
    align-items: center;
}
.watch-video__outer-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}
.watch-video__play {
    color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83a17d;
    border: 1px solid #ffffff;
}

.watch-video__title {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero__image {
    display: flex;
    padding-right: 23px;
    column-gap: 20px;
    height: 543px;
    position: relative;
}

.hero__image .hero__img:nth-child(2) {
    align-self: flex-end;
}

.section__image--blur {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 1;
}
.hero__img {
    z-index: 2;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

/* brand */
.brand {
    margin-top: 42px;
}
.brand__list {
    background: #e2eddf;
    border-radius: 100.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 121px;
}
.brand-item__google {
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
}

.brand-item__icon {
    color: #143c3c;
}

.brand-item__slack {
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
}

.brand-item__agworld {
    color: #163c35;
    font-size: 26px;
    font-weight: 400;
}

.brand-item__rioTinto {
    color: #163c35;
    font-family: "Sonsie One", system-ui;
    font-size: 2.3rem;
    font-weight: 400;
}

.brand-item__heroku {
    color: #143c3c;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* service */
.service {
    margin-top: 53px;
    padding: 53px 0 78px;
}

.section__subtitle {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    padding-left: 46px;
}

.section__subtitle::before {
    position: absolute;
    left: 0;
    bottom: 50%;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
}

.service__heading {
    position: relative;
    max-width: 520px;
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.service__heading::after {
    position: absolute;
    right: 103px;
    bottom: 19px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-header__control-btn {
    display: flex;
    column-gap: 17px;
}

.control-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #e2eddf;
}

.control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.control-btn__right {
    rotate: 180deg;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
}
.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__body {
    padding-left: 18px;
}

.service-item__body {
    padding: 23px 0;
    transition: 0.25s;
}
.service-item__thumb {
    border-radius: 20px;
    overflow: hidden;
}

.service-item__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.service-item__link {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
}

/* team */
.team {
    margin-top: 78px;
    padding-bottom: 43px;
}

.team__body {
    display: flex;
    justify-content: space-between;
}
.team__image {
    height: 570px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 21px;
    position: relative;
}
.team__img {
    z-index: 2;
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
/* .team__img:first-child {
    align-self: flex-end;
} */

.team__img + .team__img {
    align-self: flex-start;
    margin-top: 8px;
}

.team-designer {
    z-index: 3;
    position: absolute;
    right: -9px;
    bottom: -8px;
    padding: 19px 23px 11px;
    font-family: "Public Sans", sans-serif;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
}

.team-designer__heading {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.team-designer__stat {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.team-designer__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}

.team-designer__process-max {
    margin: 3px 0;
    width: 100%;
    background: #eaeaea;
    height: 2px;
}

.team-designer__process-now {
    width: 40%;
    height: 2px;
    background: #83a17d;
}

.team-designer__load {
    display: block;
    text-align: right;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.team-designer__status {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #143c3c;
    border: 3px solid #eaeaea;
}
.team-designer__row {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-designer__label {
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.team-designer__members {
    display: flex;
}

.member__avatar {
    margin-left: -5px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

/*  */
.team-content {
    width: 43%;
}
.team__heading {
    margin-bottom: 11px;
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.team__decor {
    z-index: 3;
    position: absolute;
    left: 46px;
    top: -18px;
}

.team__decor:last-child {
    left: 90px;
    top: -22px;
}

.team-content__row {
    padding: 36px 0 20px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
}
.team-content__stat {
    color: var(--primary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.team-content__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* step */
.steps {
    margin-top: 39px;
    padding: 36px 0 74px;
}

.step__heading {
    width: 477px;
    position: relative;
}

.step__heading:after {
    position: absolute;
    bottom: 18px;
    right: -9px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
}

.step__list {
    margin-top: 81px;
    display: grid;
}

.step-item {
    border-radius: 33px;
    display: grid;
    grid-template-columns: 11% 35% 54%;
    grid-auto-rows: 185px;
    border-bottom: 1px solid #83a17d;
    transition: 0.25s;
}

.step-item:hover .step-item__img {
    transform: translateY(-8px);
}
.step-item:hover {
    background-color: #e2eddf;
    border: none;
}

.step-item:hover .step-item__more {
    visibility: visible;
}
.step-item:hover .step-item__desc {
    transform: translateX(20px);
}

.step-item__image {
    position: relative;
}
.step-item__img {
    position: absolute;
    bottom: -5px;
    transition: 0.25s;
}

.step-item__order {
    margin-top: 57px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}
.step-item__head {
    margin-left: 64px;
}
.step-item__heading {
    margin-top: 72px;
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.step-item__more {
    margin-bottom: 54px;
    display: inline-block;
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    opacity: 0.8;
    visibility: hidden;
}

.step-item__desc {
    max-width: 572px;

    margin-top: 54px;
    color: #7d8188;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

/* project  */
.project {
    padding: 116px 0 63px;
    background: #143c3c;
}

.project__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading {
    color: #e7f9f9;
    max-width: 457px;
    position: relative;
}

.project__heading::after {
    position: absolute;
    bottom: 20px;
    right: 97px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project__info {
    font-family: "Public Sans", sans-serif;
}
.project__desc {
    max-width: 590px;
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__link-browse {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__link {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 26px;
}

.project__arrow {
    color: #80a07b;
}

.project__video {
    margin-top: 65px;
    width: 100%;
}

/* feature */
.feature {
    margin: 140px 0 92px;
}

.feature__content {
    text-align: center;
}

.feature__heading {
    max-width: 520px;
    margin: 0 auto;
}

.feature__desc {
    width: 547px;
    margin: 20px auto 0;
}

.feature__row {
    margin-top: 44px;
    display: flex;
    align-items: flex-end;
    height: 421px;
    column-gap: 45px;
}

.feature-item {
    padding: 60px 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 362px;
    border-radius: 160px;
    background: #fff;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-10px);
    background: #fff;
    border: none;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item:nth-child(2) {
    align-self: flex-start;
}

.feature-item__icon {
    font-size: 4.5rem;
}

.feature-item__heading {
    margin-top: 23px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
}

.feature-item__desc {
    margin-top: 12px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}
